<ion-view hide-nav-bar="true" title="Login">
	<ion-content>
		<div class="padding"></div>
		<div class="padding"></div>
		<div class="padding"></div>
		<div class="padding text-center">
			<p class="text-center labelText">Social Login</p>
			<label>
				<button class="button icon" ng-click="loginWithSocial('linkedin')">
					<span class="socialImg"><i class="icon ion-social-linkedin"></i></span>
					<span class="socialText">|&nbsp&nbsp&nbsp SignIn with LinkedIn</span>
				</button>
			</label>
			<label>
				<button class="button icon" ng-click="loginWithSocial('facebook')">
					<span class="socialImg"><i class="icon ion-social-facebook"></i></span>
					<span class="socialText">|&nbsp&nbsp&nbsp SignIn with Facebook</span>
				</button>
			</label>
			<label>
				<button class="button icon" ng-click="loginWithSocial('google')">
					<span class="socialImg"><i class="icon ion-social-googleplus"></i></span>
					<span class="socialText">|&nbsp&nbsp&nbsp SignIn with Google+</span>
				</button>
			</label>
			<label>
				<button class="button icon" ng-click="loginWithSocial('twitter')">
					<span class="socialImg"><i class="icon ion-social-twitter"></i></span>
					<span class="socialText">|&nbsp&nbsp&nbsp SignIn with Twitter</span>
				</button>
			</label>
		</div>
		<div class="padding"></div>
		<div class="padding"></div>
		<div class="padding"></div>
	</ion-content>
</ion-view>